.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-link:hover {
  color: #5bc0de !important;
}

.dropdown-item:hover {
  color: #5bc0de !important;
}

.search-photo {
  height: 70px;
  margin-top: 75px;
  margin-left: 20%;
  width: 100%;

  input {
    border: 0;
    background: white;
    height: 70px;

    padding: 0 20px;
    font-size: 18px;
    width: 50%;
    color: #333;
    font-weight: bold;


  }

  button {
    width: 70px;
    height: 70px;

    background: #5bc0de;
    color: white;

  }

  button:hover {
    color: black;
    background: #59d8ff;
  }
}

.jumbotron {
  min-height: 50vh;
  background: rgba(27, 167, 162, 0.67)
}

.dropdown-toggle1::after {
  display: none;
}

.dropdown-item img:hover {
  cursor: pointer;
}